* {
    border-radius: 0px !important;
}

.navbar {
    background-color: #04536C !important;
    margin-bottom: 0px !important;
}


.button {
    background-color: #1F3A93;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #89C4F4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 10px 10px 15px #888;
}

.navbar-nav>li>a {
    font-size: 15px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    line-height: 70px !important;
}

.navbar-header a {
    font-family: 'Raleway';
    font-size: 2em;
    font-weight: bolder;
    color: #fff !important;
}

.home_banner {
    background-image: url("https://source.unsplash.com/hpjSkU2UYSU/1600x900");
    /*BW0vK-FA3eg*/
    background-size: cover;
    height: 100%;
    width: auto;
    /*background-attachment: fixed;*/
}

.home_banner_header {
    padding-top: 15%;
    padding-bottom: 5%;
    color: #fff;
}

.home_banner_header h1 {
    font-weight: bolder;
    font-family: 'Raleway';
    font-size: 4em;
}

.news_body {
    background: rgba(255, 255, 255, 0.5);
    padding-bottom: 5%;
}

.news_body h1 {
    padding-top: 3%;
}

.news_body_text {
    padding: 3%;
    margin-left: 13%;
    margin-right: 13%;
    background-color: #fff;
}

.latest_resources {
    padding-right: 10%;
    padding-left: 10%;
}

.latest_resources_header {
    padding-top: 5%;
    padding-bottom: 5%;
}

.gallery {
    padding-bottom: 10%;
}


.gallery_header_1 {
    padding-bottom: 10%;
    opacity:0.6;
   
}

.gallery_header_2 {
    opacity:0.6;
     padding-bottom: 10%;
}

.gallery_header_1:hover {
    opacity:1;
    box-shadow: 10px 10px 15px #888;
   
}

.gallery_header_2:hover {
    opacity:1;
    box-shadow: 10px 10px 15px #888;
}

.footer {
    padding-top: 5%;
    padding-bottom: 2%;
    background-color: #04536C;
    color: #fff;
}
